.remote-buttons {
    position: absolute;
    top: 250px;
    left: 200px;
    z-index: 12;
}

.remote-buttons h1 {
    font-size: 3.5rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color: white;
}

.remote-button-wrapper {
    width: 30vw;
}

a,
a:hover {
    text-decoration: none;
}

.play {
    font-size: 2.5rem;
    font-weight: 700;
    height: 4rem;
    width: 15rem;
    background-color: #af6113;
    background-image: linear-gradient(90deg, #f59739, #f48618);
}

.learn,
.leaderboard {
    font-size: 1.5rem;
    height: 3rem;
    width: 12rem;
}

.learn {
    background-color: #6539de;
    background-image: linear-gradient(90deg, #9939f3, #8713f3);
}

.leaderboard {
    background-color: #2941ba;
    background-image: linear-gradient(90deg, #3b5af5, rgb(37, 71, 243));
}

.butn:link,
.butn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.butn::before {
    background: #fff;
    content: "";
    height: 155px;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
    background: #fff;
    content: "";
    height: 20rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 8rem;
}

.butn__new::before {
    left: -50%;
}

.butn__new::after {
    left: -100%;
}

.butn:hover,
.butn:active {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
}

.butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
}

.butn span {
    z-index: 20;
}

#dropdown-button {
    background-color: #04AA6D;
    border: 4px solid #3e8e41;
    border-radius: 25px;
    font-weight: 500;
    color: white;
}

.region-wrapper {
    background: #EDEDED;
    border-radius: 20px;
    box-shadow: 0px 2px 2px #666;
}

.region-list-scroll {
    max-height: 150px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.region-list-scroll::-webkit-scrollbar {
    display: none;
}

.region-list-body a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.region-list-body a:hover {
    color: #6e6e6e;
}