#svg-map {
    width: 100%;
    height: 100vh;
}

.map-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#svg-map-region {
    fill: #A0C49D;
    stroke: #EDF3EC;
    stroke-width: 5;
    translate: 140% 0%;
}

#svg-map-muni {
    display: none;
    translate: 120% 0%;
}